body{
    
    font-family:sans-serif;
    letter-spacing: 0.1px;

}
hr{
  width:500px;
  margin:0 auto;
}
img{
    margin-left: 600px;
    width:50px;
    height: 50px;
    margin-top: 10px;

}
a{
  text-decoration: none;
   
}
ol{
   margin-left: 350px;
}
li{
    padding-left: 80px;
    /* text-align:center; */
}

button{
    border:1px solid blue;
    border-radius: 20px;
    background-color: blue;
    color:white;
    padding:5px;
    font-family:monospace;
    align-items: center;
}
button>a{
    color:white;
}
p,h1,h3{
    text-align: center;
  
}
h1,h3{
    margin-bottom: -10px;
}
.button1{
    margin-left:520px;
}
.h1{
    /* width:200px; */
    letter-spacing: 0.1px;
}


